table{
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

form{
    padding: 5%;
}

label,input{
    display: block;
    text-align: center;
}

input[type="number"]{
    margin: auto;
}

input[type="submit"]{
    margin: auto;
    margin-top: 2%;
}